<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Log in</div>
        </div>
        <div class="panel-body">
            <form action="#" role="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>